.homework_title {
    padding-left: 40px;
    font-family: LiSu;
    font-style: italic;
    font-weight: bold;
    color: #FB607F;
    font-size: 24px;
}

.display {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding-left: 30px;
    min-width: 100%;
    max-height: 300px;
    height: 40px;
}

.text {
    font-family: Arial;
    font-size: 16px;
    color: #0067A5;
    padding-bottom: 5px;

}

.btn {
    background: #FFC0CB;
    color: #003399;;
    outline: #FF9BAA;
    font-family: LiSu;
    font-size: 14px;
    border: none;
    margin-right: 5px;
}

.btn_block {
    padding-left: 30px;
    padding-top: 10px;
    display: flex;

}

.btn:active {
    background-color: #FB607F;
    transition: color 0s
}