.blue {
    border-bottom: 5px solid #003399;
}

.wrapper {
    margin-top: 20px;
    display: flex;
    width: 240px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 20px;
    color: #003399;
}

.testSpanError {
    color: #003399;
}